body{
    font-family: 'Fira Sans', sans-serif;
}

main{
    display: flex;
}

body{
    background-color: #141120;
}

.titulo-principal{
    color: #D0C9DC;
    font-size: 40pt;
    text-align: center;
    font-weight: bold;
    padding: 30px 0 30px 0;
    
}
.texto1 {
    background-color: #141120;
    resize: none;
    color: #D0C9DC;
    text-transform: lowercase;
    font-size: 20pt;
    border: 5px solid #3772FF;
    border-radius: 10px;
    margin-left:5%;

}
::placeholder{
    color: #6A5988;
}
.texto1:focus {
    outline: none;
  }

.pos_texto2{
    float:right;
}

.texto2 {
    pointer-events: none;
    background-color: #141120;
    resize: none;
    color: #D0C9DC;
    font-size: 20pt;
    border: 5px solid #3772FF;
    border-radius: 10px;
    margin-left: 20%;
}
.texto2:focus {
    outline: none;
  }

.botonEncriptar {
    margin-top: 3%;
    margin-left: 5%;
    background-color: #9E2B25;
    border: none;
    color: #D0C9DC;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 15pt;
    transition: 1s all;
}

.botonDesencriptar {
    margin-left: 20%;
    background: #9E2B25;
    border: none;
    color: #D0C9DC;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 200px;
    font-size: 15pt;
    transition: 1s all;
}

.botonCopiar {
    margin-top: 3%;
    margin-left: 20%;
    background: #9E2B25;
    border: none;
    color: #D0C9DC;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 15pt;
    transition: 1s all;
}

.botonEncriptar:hover, .botonCopiar:hover, .botonDesencriptar:hover{
    transform: scale(0.9);
}

@media screen and (max-width:480px){
    main{
        display: block;
    }
}